ExpiresActive On

http://jeremywilles.github.io/…anodegree-mobile-portfolio/css/print.css (10 minutes)
http://jeremywilles.github.io/…anodegree-mobile-portfolio/css/style.css (10 minutes)
http://jeremywilles.github.io/…nanodegree-mobile-portfolio/img/2048.jpg (10 minutes)
http://jeremywilles.github.io/…ee-mobile-portfolio/img/optimization.jpg (10 minutes)
http://jeremywilles.github.io/…degree-mobile-portfolio/img/pizzeria.jpg (10 minutes)
http://jeremywilles.github.io/…gree-mobile-portfolio/img/profilepic.jpg (10 minutes)
http://jeremywilles.github.io/…odegree-mobile-portfolio/img/screens.jpg (10 minutes)
http://jeremywilles.github.io/…egree-mobile-portfolio/js/perfmatters.js (10 minutes)
http://www.google-analytics.com/analytics.js (2 hours)